.main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}


.profile-card {
    display: flex;
    justify-content: center;
    width: 300px;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 50px;
}

.profile-content {
    padding: 10px;
}

.profile-name {
    font-size: 1.4rem;
    font-weight: bold;
    color: #333;
    margin: 10px 0;
}

.profile-email {
    font-size: 0.9rem;
    color: #555;
    margin-bottom: 20px;
}

.dashboard-button {
    background-color: #0146D1;
    color: #fff;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}


