.dashboard {
  padding: 20px;
  text-align: center;
}

.dashboard h1 {
  margin-bottom: 20px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
